.return {
    margin: auto;
    width: 600px;
    background-color: rgb(233, 233, 233);
    padding-top: 0px;
    box-shadow: 3px 3px 3px 3px #6e6e77;;
}

.ret-title{
    color: #123C69;
    padding-top: 30px;
    margin-top: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

.inputBoxes-ret {
    width: 400px;
    padding: 15px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    border: 2px solid rgb(233, 233, 233)

}

.inputBoxes-ret:focus { 
    outline: none !important;
}

.sub-title-ret {
    margin: auto;
    width: 400px;
    padding: 10px;
    padding-top: 30px;
    text-align: left;
    color: #AC3B61;
    
}


.select-ret {
    margin: auto;
    width: 430px;
    border: 2px solid rgb(233, 233, 233);
    font-weight: bold;
    color: darkslategray;
}

.select-ret:focus { 
    outline: none !important;
}

.submit-button-ret {
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #AC3B61;
    font-weight: bold;
    color: #EEE2DC;
    border-radius: 10px;
    border: none;
    font-size: 14px;
}

.submit-button-ret:hover {
    cursor: pointer;
}

.total-ret{
    margin-top: 0px;
    background: linear-gradient(#9fd1e9, #447bc4);
    padding: 60px;
    min-height: 900px;
}