.register {
    margin: auto;
    margin-top: 50px;
    width: 600px;
    border-radius: 20px;
    background-color: #EEE2DC;
}

.reg-title{
    color: #EEE2DC;
    padding: 20px;
    background-color: #AC3B61;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.inputBoxes {
    width: 280px;
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
    border: 2px solid #AC3B61;
    text-align: center;
    font-weight: bold;

}

.inputBoxes:focus { 
    outline: none !important;
}

.sub-title {
    color: #AC3B61;
    margin: auto;
    width: 300px;
    padding: 10px;
    padding-top: 20px;
    
}


.select {
    margin: auto;
    width: 300px;
    border: 2px solid #AC3B61;
    border-radius: 4px;
    font-weight: bold;
    color: darkslategray;
}

.select:focus { 
    outline: none !important;
}

.submit-button {
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #AC3B61;
    font-weight: bold;
    color: #EEE2DC;
    border-radius: 10px;
    border: none;
    font-size: 14px;
}

.submit-button:hover {
    cursor: pointer;
}